@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-basic-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  body{
    max-width: 1440px;
    margin: 0 auto;
  }


  header{
    max-width: 1440px;
    margin: 0 auto;
    border-bottom: 2px dashed  rgb(218, 216, 216);
  }
  
  .content-section{
    max-width: 1158.61px;
    margin: 0 auto;
    margin-top: 20px;
  }


  /* nav bar styles */

  .nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-logo{
    display: flex;
    align-items: center;
    gap: 11px;
  }

  .nav-h{
    font-size: 32px;
    font-weight: 700;
  }


  .nav-section{
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
  }

  a{
    text-decoration: none
  }
  /* section-menu */
  .home-menu{
    color: rgb(254, 163, 1);
    font-size: 20px;
    font-weight: 500;
  }
  .About-menu{
    color: rgb(1, 172, 253);
    font-size: 20px;
    font-weight: 500;
  }
  .Facilities-menu{
    color: rgb(5, 212, 223);
    font-size: 20px;
    font-weight: 500;
  }
  .Admission--menu{
    color: rgb(93, 88, 239);
    font-size: 20px;
    font-weight: 500;
  }

  .nav-btn{
    
    color: rgb(255, 255, 255);
    font-family: "Quicksand", serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    width: 197px;
    height: 50px;
    padding: 7px;
    cursor: pointer;
    border: none;
    }

    /* header section styles */
    .header-section{
        display: flex;
        align-items: center;
        margin-top: 18px;
        gap: 50px;
        margin-bottom: 0;
    }
    .header-h{
        font-size: 56px;
        font-weight: 700;
        width: 640px;
        height: 210px;
        margin: 24px 0px;
        margin-bottom: 24px;
    }

    .h1-color-01{
        color: rgb(254, 163, 1);
    }
    .h1-color-02{
        color: rgb(1, 172, 253);
    }

    .header-p{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 24px;
    }

    .header-btn{
        color: rgb(255, 255, 255);
        font-family: "Quicksand", serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0%;
        border-radius: 12px;
        background: rgb(17, 17, 17);
        width: 197px;
        height: 50px;
        padding: 7px;
        cursor: pointer;
        border: none;
    }

    .header-img{
        width: 100%;
    }

    /* main sections style*/

    /* Standard Curriculum section */

    .bg-img{
        padding: 60px 0px 60px;
        background-image: url(../assets/bg.png);
        background-repeat: no-repeat;
        background-position: -30px -5px ;
        border-bottom: 2px dashed  rgb(218, 216, 216);
    }

    .Standard-conti{
        max-width: 1160px;
        margin: auto;
    }

    .Standard-h{
        font-size: 46px;
        font-weight: 700;
        text-align: center;
        margin-top: 0px;
    }
    .Standard-section-box{
        display: flex;
        justify-content: space-between;
        gap: 29px;
    }

    .Standard-box-1{
        width: 367.8px;
        height: 476.78px;
        box-sizing: border-box;
        border: 0.94px solid rgb(222, 245, 255);
        border-radius: 18.86px;
        box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
        background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 65px 40px 58px 40px;
        text-align: center;

        }

        .Standard-box-2{
            width: 367.8px;
            height: 476.78px;
            box-sizing: border-box;
            border: 0.94px solid rgb(255, 244, 220);
            border-radius: 18.86px;
            box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
            background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 65px 40px 58px 40px;
            text-align: center;
    
            }

            .Standard-box-3{
                width: 367.8px;
                height: 476.78px;
                box-sizing: border-box;
                border: 0.94px solid rgb(242, 232, 255);
                border-radius: 18.86px;
                box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
                background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 65px 40px 58px 40px;
                text-align: center;
        
                }

        .Standard-box-h{
            font-size: 24.52px;
            font-weight: 700;
            color: rgb(32, 32, 32);

        }
        .Standard-box-p{
            font-size: 15.09px;
            font-weight: 500;
            color: rgb(128, 128, 128)
            
        }

        .Standard-a-1{
            color: rgb(100, 200, 255);
        }
        .Standard-a-2{
            color: rgb(240, 170, 0);
        }
        .Standard-a-3{
            color: rgb(135, 0, 255);
        }

        .Standard-btn-section{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 80px;
            gap: 10px;
        }

        .Standard-btn{
            font-size: 24px;
            font-weight: 900;
            color: rgb(255, 255, 255);
            width: 60px;
            height: 60px;
            border-radius: 30px;
            background: rgb(254, 163, 1);
            border: none;
            font-family: "Quicksand", serif;
            cursor: pointer;
            
        }

        /* Our Stories section styles */

        .our-bg{
            padding: 60px 0px 60px;
            background-image: url(../assets/bg.png), url(image),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);;
            background-repeat: repeat, no-repeat;
            background-position: -30px -5px;

        }

        .our-section-conti{
            max-width: 1160px;
            margin: auto;
            text-align: center;
        }


        .our-section-box{
            display: flex;
            gap: 19px;
        }

        .our-mini-box{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 19px;
        }

        .our-box-1{
            box-sizing: border-box;
            width: 540.27px;
            height: 630.52px;
            border-radius: 16px;
            background: rgb(255, 255, 255);
        }

        .btn-div{
            margin-left: -288px;
            margin-top: -27px;
        }
        .our-box-1-btn{
            font-size: 15.34px;
            font-weight: 500;
            color: rgb(255, 255, 255);
            width: 174.51px;
            height: 47.93px;
            border: none;
            border-radius: 47.93px;
            background: rgb(60, 216, 232);

        }

       
        .our-box-1-h{
            text-align: left;
            font-size: 24px;
            font-weight: 700;
            width: 402.49px;
            margin-left: 38.35PX;
        }
        
        .our-box-1-p{
            margin-top: 51.77px;
            font-size: 15.34px;
            font-weight: 500;
            width: 433.06px;
            color: rgb(102, 102, 102);
            text-align: left;
            margin-left: 38.35PX;

        }

        .our-box-2{
            width: 290.69px;
            height: 301.61px;
            border-radius: 16px;
            background: rgb(255, 255, 255);
        }
        .our-box-2 h4{
            text-align: left;
            font-size: 15.34px;
            font-weight: 700;
            margin-left: 37.91px;
        }

        .our-box-2-btn{
            font-size: 15.34px;
            font-weight: 500;
            color: rgb(255, 255, 255);
            width: 174.51px;
            height: 38.35px;
            border: none;
            border-radius: 47.93px;
            background: rgb(149, 178, 38)
            
        }
        .mini-box-btn{
            margin-top: -22px;
            margin-left: -60px;
        }

        .our-box-img{
            border-radius: 16px 16px 0px 0px;
            background: url(),rgb(217, 217, 217);
        }
        .box-3{
            background: rgb(93, 88, 240)
        }
        .our-section-btn{
           margin-top: 80PX;
           color: rgb(255, 255, 255);
           font-family: "Quicksand", serif;
           font-size: 20px;
           font-weight: 700;
           line-height: 30px;
           letter-spacing: 0%;
           border-radius: 12px;
           background: rgb(17, 17, 17);
           width: 197px;
           height: 50px;
           padding: 7px;
           cursor: pointer;
           border: none;
        }








/* media query */


    @media screen and (min-width: 577px){
        .hamburger-menu{
            display: none;
            }
        .nav-bar-hr{
            display: none;
        }    
        }


    @media screen and (max-width: 576px) {
        
        header{
            max-width: 575px;
            margin: 0 auto;
            border-bottom: none;
        }

        /* nav section */
        nav{
            margin-bottom: 12px;
        }
        
        .nav-logo{
            margin-top: 12px;
            margin: 0 auto;
            width: 430px;
            display: flex;
            gap: 320px;
            align-items: center;
            
             
        }
        /* hamburger-menu */
        .icon-large {
            font-size: 35px; 
          }
        nav> div> h2 {
            display: none;
        }
        nav> div > li > a{
            display: none;
        }
        nav> button {
            display: none;
        }
        .nav-bar-hr{
            border: 0.5px solid rgb(254, 163, 1);
        }

        /* header section */

        .header-section{
            max-width: 357px;
            margin: 0 auto;
            margin-top: 50px;
            flex-direction: column-reverse;
            justify-items: center;
            
        }
        .header-conti{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .header-h{
            max-width: 430px;
            margin-top: -25px;
            text-align: center;
            font-size: 2rem;
            margin-bottom: -85px;
            
        }
        .header-p{
            text-align: center;
            font-size: 14px;
            max-width: 330px;
            margin-bottom: 20px;
        }
        .header-btn{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        /* Standard Curriculum section */
       
        .bg-img{
            border-bottom: none;
        }
        .Standard-h{
            margin-top: 5px;
            margin-bottom: 20px;
            font-size: 26px;
        }
        .Standard-section-box{
            flex-direction: column;
            align-items: center;
        }
        .Standard-btn-section{
            display: none;
        }

        .Standard-box-1, .Standard-box-2, .Standard-box-3 {
            padding: 36px 28px 36px 28px;
            width: 380px;
            height: 324.47px;
        }
        .Standard-img{
            width: 95px;
            height: 98px;
        }
        .Standard-box-h{
            font-size: 20px;
        }
        .Standard-box-p{
            font-size: 13px;
        }

        /* Our Stories */

        .our-h{
            margin-top: -80px;
        }

        .our-box-1{
            display: none;
            grid-template-columns: repeat(2, 1fr);
        }
        .our-box-2{
            width: 200.09px;
            height: 188.59px;
            border-radius: 9.53px;
            background: rgb(255, 255, 255);
        }
        .our-mini-box{
            display: grid;
            margin-left: auto;
            margin-right: auto;
        }

        .our-box-2 h4{
            text-align: left;
            font-size: 9.13px;
            font-weight: 700;
            margin-left: 25px;
        }

        .our-box-img{
            width: 200.09px;
            height: 130.39px;
            border-radius: 9.53px 9.53px 0px 0px;
            background: url(),rgb(255, 255, 255);
        }

        .our-box-2-btn{
            font-size: 9.13px;
            font-weight: 500;
            color: rgb(255, 255, 255);
            width: 103.91px;
            height: 22.83px;
            border: none;
            border-radius: 28.54px;
            background: rgb(149, 178, 38)
        }

        .our-section-btn{
            margin-top: 20PX;
            color: rgb(255, 255, 255);
            font-family: "Quicksand", serif;
            font-size: 17px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0%;
            border-radius: 12px;
            background: rgb(17, 17, 17);
            width: 150px;
            height: 40px;
            padding: 5px;
            cursor: pointer;
            border: none;
         }







    }

